.page_container {
  background-color: #FFFFFF;
  color: #272727;
  margin-left: 10%;
  margin-right: 10%;
}

.cms {
  margin-bottom: 20px;
  a {
    color: $cyan;
    font-size: 1rem;
    font-style: italic;
    text-decoration: underline;
    &:hover {
      color: $dark-cyan;
    }
  }
}
