<section class="sub_hero">
  <article class="sub_hero__content">
    <header>
      <h2 class="sub_hero__title">
        Audio collections paired with computer-generated transcripts
      </h2>
    </header>
    <p>
      Amplify delivers digitised audio files from the collections of cultural,
      educational and research institutions within Australia.
      Listen to these oral histories accompanied with a computer-generated transcript,
      which you can help to improve by correcting any errors you find as you listen along.
    </p>
    <p>
      Select and interview below to get started
    </p>
  </article>
</section>

